<nav class="navbar navbar-expand-lg navbar-light dcs">
    <div class="container">
        <a class="navbar-brand" href="/">Решавай онлайн</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link custom-link" href="/">Начало</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-link" id="categories-dropdown"
                        data-toggle="dropdown" href="#">Категории</a>
                    <div class="dropdown-menu" aria-labelledby="categories-dropdown">
                        <a href="/categories/all" class="dropdown-item">Всички</a>
                        <a href="/categories/add" class="dropdown-item">Нова категория</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                {{#if user }}
                <li class="nav-item">
                    <a class="nav-link custom-link" href="/users/account">Здравей, {{ user.name }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="/users/logout">Изход</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link custom-link" href="/users/register">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="/users/login">Вход</a>
                </li>
                {{/if }}
            </ul>
        </div>
    </div>
</nav>