* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    max-width: 600px;
}


.dark .dcs {
    background-color: #2f2f2f;
}

.dark .dcs *,
.dark .dcs .custom-link {
    color: #f5f5f5;
}

.light .dcs {
    background-color: #f5f5f5;
}

.light .dcs .custom-link {
    color: #2f2f2f;
}