<div class="container">
    <div class="row mt-5">
        {{#each categories }}
        <div class="col-md-4">
            <div class="list-group-item p-3 mb-4 dcs">
                <a href="#" class="nav-link custom-link">{{ name }}</a>
            </div>
        </div>
        {{/each }}
    </div>
</div>