<div class="container form-container p-5 mt-5 dcs">
    <h2 class="text-center">Нов отговор</h2>
    <h4 class="text-center">{{ question.title }}</h4>
    {{> error-messages}}
    <form id="form" action="/questions/answers/create/{{ question._id }}" method="post" class="mw-50 mx-auto">
        <div class="mb-3">
            <label for="content" class="form-label">Текст</label>
            <input type="text" autofocus value="{{ title }}" class="form-control" name="content" id="content">
        </div>
        <div class="mb-3">
            <label for="isCorrect" class="form-label">Верен отговор</label>
            <input type="checkbox" name="isCorrect" id="isCorrect">
        </div>
        <button type="submit" class="btn btn-primary">Създай отговор</button>
        <a class="btn btn-warning" href="/questions/create/{{ question.test._id }}">Нов въпрос</a>
    </form>
</div>