<div class="container form-container p-5 mt-5 dcs">
    <h2 class="text-center">Нов въпрос</h2>
    {{> error-messages}}
    <form id="form" action="/tests/questions/create/{{ test._id }}" method="post" class="mw-50 mx-auto">
        <div class="mb-3">
            <label for="title" class="form-label">Заглавие на въпроса</label>
            <input type="text" autofocus value="{{ title }}" class="form-control" name="title" id="title">
        </div>
        <button type="submit" class="btn btn-primary">Създай въпроса</button>
        <button type="button" class="btn btn-primary">Нов отговор</button>
    </form>
</div>